.acdc {
    width: 80%;
    margin: 0 auto;
    padding-top: 180px;
}
.acdc .textPart {
    margin-bottom: 20px;
}
.acdc .textPart img:nth-child(1) {
    border-radius: 30px;
}
.acdc .textPart h2:nth-child(2) {
    font-size: 60px;
    margin: 30px 0;
}
.acdc .textPart .first {
    font-size: 16px;
    margin-bottom: 70px;
    color: black;
}
.acdc .textPart .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.acdc .textPart .row .col1 {
    width: 50%;

}
.acdc .textPart .row .col2 {
    width: 48%;
    padding: 50px 0;
    background-color: #7272721c;
    border-radius: 20px;
}
.acdc .textPart .row .col2 img {
    width: 100%;
}
.acdc .textPart p {
    font-size: 16px;
    color: gray;
    margin-bottom: 30px;
}
.acdc .textPart a {
    text-decoration: none;
    margin-left: 10px;
    color: #209c3c;
    font-size: 16px;
}