.asosiyel {
    margin: 0 auto;
    padding-top: 180px;
}
.asosiyel .image {
    width: 80%;
    margin: 0 auto;
}
.asosiyel .image img {
    width: 100%;
    border-radius: 30px;
}
.asosiyel .yuklash {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.asosiyel .yuklash h2 {
    font-size: 60px;
    margin: 60px 0 25px 0;
}
.asosiyel .yuklash p {
    width: 50%;
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 25px;
}
.asosiyel .yuklash .mobileApp {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
}
.asosiyel .mobileApp button {
    width: 30%;
    height: 60px;
    padding: 22px 20px;
    background-color: #209C3C;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 30px;
}
.asosiyel .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 70px;
    padding-bottom: 50px;
}
.asosiyel .card {
    width: 30%;
    position: relative;
    margin-bottom: 20px;
}
.asosiyel .card p {
    width: 100%;
}
.asosiyel .toRight {
    position: absolute;
    right: 0;
    top: 45%;
    font-size: 60px;
    color: #727272;
    transform: translate(50%, -50%);
}
.asosiyel .faq {
    width: 100%;
    background-color: #72727222;
    padding-bottom: 30px;
}
.asosiyel .faq h2 {
    text-align: center;
    padding: 50px 0;
    font-size: 50px;
}
.asosiyel .answer {
    transition: all 0.3s;
    overflow: hidden;
    height: 0;
    opacity: 0;
    
}
.asosiyel .answer.active {
    height: 80px;
    opacity: 1;
}
.asosiyel .faq .render {
    width: 80%;
    margin: 0 auto;
}
.asosiyel .renderSon {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 20px 10px 40px;
}
.asosiyel .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.asosiyel .question button {
    border: none;
    background: transparent;
}
.asosiyel .question button span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #209C3C;
    border: none;
    font-size: 30px;
    padding-top: 5px;
    cursor: pointer;
}

.asosiyel .question button span:hover {
    background-color: green;
}