
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  position: relative;
}
.statistika {
  width: 80%;
  margin: 0 auto;
  padding-top: 175px;
}
.statistikaImage1 {
  width: 100%;
  border-radius: 20px;
}
.statistikaImage1 img {
  width: 100%;
  border-radius: 20px;

}
.statistika .first_h1 {
  font-size: 26px;
  margin: 40px 0;
  width: 75%;
}
.statistika .first_p {
  color: gray;
  margin-bottom: 100px;
}
.statistika .second_h1 {
  text-align: center;
  width: 30%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.statistikaImage2 {
  width: 100%;
}
.statistikaImage2 img {
  width: 100%;
}
.statistika .third_h1 {
  margin-top: 100px;
  margin-bottom: 50px;
}
.statistika .second_p {
  width: 90%;
  color: gray;
  margin-top: 50px;
  margin-bottom: 30px;
}
.statistika .third_p {
  width: 100%;
  color: gray;
}
.mijozlar {
  width: 80%;
  margin: 0 auto;
}
.mijozlar .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.mijozlar .col {
  width: 16.6666%;
  padding: 5px;
}
.mijozlar .card {
  width: 100%;
  height: 130px;
  padding: 20px;
  border: 1px solid rgba(180, 177, 177, 0.55);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mijozlar img {
  width: 80%;
}
.mijozlar_h1 {
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 50px;
}
.ilova {
  width: 80%;
  height: 580px;
  margin: 60px auto;
  background-color: #209c3c;
  padding: 50px 40px;
  border-radius: 20px;
  position: relative;
}
.ilova .first {
  width: 90%;
  color: white;
}
.ilovaUse {
  width: 45%;
  height: 316px;
  padding: 40px;
  border-radius: 30px;
  background-color: white;
  float: right;
  margin-top: 100px;
}
.ilovaUse .second {
  margin: 0 0 20px;
}
.ilovaUse p {
  font-size: 16px;
  color: #727272;
}
.ilovaUse button {
  background-color: #209c3c;
  border-radius: 40px;
  padding: 24px 32px;
  border: 1px solid #209c3c;
  margin-top: 34px;
}
.ilovaUse button:hover {
  background-color: white;
}
.ilovaUse button:hover a {
  color: #209c3c;
}
.ilovaUse a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.ilovaInPhone {
  position: absolute;
  left: 40px;
  top: 210px;
}
.hamkorlik {
  width: 80%;
  margin: 0 auto;
}
.hamkorlikSon .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hamkorlikSon .col {
  width: 49%;
  background-color: #e5e5e57c;
  border-radius: 20px;

  margin-bottom: 20px;
}
.hamkorlikSon img {
  width: 100%;
  height: 260px;
  border-radius: 20px;
}
.hamkorlikSon a {
  text-decoration: none;
  color: black;
}
.hamkorlikSon .text {
  width: 85%;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 30px;
}
.hamkorlikSon button {
  float: right;
  width: 12%;
  height: 56px;
  border-radius: 50%;
  background-color: #209c3c;
  border: 1px solid #209c3c;
  padding: 14px 30px 20px 16px;
}
.hamkorlikSon button a {
  color: white;
  font-size: 25px;
}
.hamkorlikSon .col:hover .textSon {
  text-decoration: underline;
  color: cadetblue;
}
.hamkorlikSon .col:hover button {
  background-color: white;
}
.hamkorlikSon .col:hover button a {
  color: green;
}
.hamkorlikSon h2 {
  margin: 100px 0;
  font-size: 47px;
}
.xizmatlar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.xizmatlar .xizmat {
  width: 30%;
  border: 1px solid #727272;
  border-radius: 20px;
  padding: 32px;
  margin-bottom: 25px;
}
.xizmat img {
  width: 80px;
  height: 80px;
}
.taklif {
  width: 80%;
  margin: 0 auto;
}
.xizmat p {
  color: #727272;
  font-size: 16px;
  margin-top: 20px;
}
.xizmat:hover {
  background-color: #209c3c;
}
.xizmat:hover p {
  color: white;
}
.xizmat:hover img {
  filter: invert(0%) sepia(0%) saturate(7477%) hue-rotate(132deg) brightness(220%) contrast(98%);
}
.taklifSon h2 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 39px;
}
.taklifSon p {
  margin-bottom: 50px;
  font-size: 16px;
  color: #727272;
}
.malumot {
  width: 80%;
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.malumotlar {
  width: 50%;
  padding: 60px 40px;
  background-color: #209c3c;
  color: white;
  border-radius: 30px;
}
.malumotlar h2 {
  font-size: 27px;
  margin-bottom: 20px;
}
.malumotlar p {
  font-size: 16px;
  margin-bottom: 20px;
}
.malumot .picture {
  width: 48%;
  padding: 50px 60px;
  background: #F4F4F4;
  border-radius: 30px;
}
.starting {
  width: 80%;
  margin: 0 auto;
}
.renderPart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.renderPart .col {
  width: 32%;
  border: 1px solid #727272;
  border-radius: 20px;
  padding: 32px;
  margin-bottom: 30px;
}
.renderPart .card h2 {
  color: #209c3c;
  font-size: 35px;
}
.renderPart .firstP {
  color: #209c3c;
  font-size: 40px;
}
.renderPart .col2 {
  width: 32%;
  height: 214px;
  border-radius: 20px;
  padding: 32px;
  margin-bottom: 30px;
  background-color: #209c3c;
}
.renderPart .col2 h2 {
  color: white;
  font-size: 35px;
}
.renderPart .col2 p:nth-child(2) {
  color: white;
  font-size: 40px;
}
.renderPart .col2 p:nth-child(3) {
  color: white;
}

.renderPart span {
  color: white;
}
.startingSon .first_h2 {
  font-size: 46px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.starting button {
  width: 30%;
  height: 60px;
  padding: 22px 20px;
  background-color: #209c3c;
  color: white;
  font-size: 16px;
  border: 1px solid #209c3c;
  border-radius: 27px;
  margin-top: 30px;
}
.starting button:hover {
  background-color: green;
}
.maps {
  width: 100%;
  height: 450px;
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.maps iframe {
  width: 100%;
}



.menu_in_respons, .menu-toggle, .contactResponse {
  display: none;
}

@media only screen and (max-width: 415px) {
  .navbar .contactResponse.activ .menu_in_respons {
    display: block;
  }
  .menu-toggle {
    display: block;
    width: 5%;
    position: absolute;
    right: 40px;
    top: 10px;
    border: none;
    background-color: #209c3c;
    color: white;
    font-size: 20px;
  }
  .xButton {
    width: 100%;
    position: relative;
  }
  .xButton button {
    position: absolute;
    right: 40px;
    top: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    background-color: #209c3c;
    border: none;
  }
  .navbar_son{
    display: flex;
    justify-content: space-between;
  }
  .navbar .contactResponse.activ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: grey;
background-blend-mode: multiply;
    background-image: url("https://tokbor.uz/themes/tokbor-oz/driver/img/intro-image/intro-image-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .menu_in_responsSon {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
  }
  .menu_in_responsSon a {
    width: 100%;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 0;
  }
  .menu_in_responsSon button {
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    color: #209c3c;
    font-size: 18px;
    margin: 0 auto;
  }
  .menu_in_responsSon .social {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .menu_in_responsSon .social a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .navbar .contacts {
    display: none;
  }
  .navbar .contactResponse {
    display: block;
  }
  .navbarMenu {
    display: none;
  }
  .offer {
    display: none;
  }
  
  .statistikaImage1 {
    width: 100%;
    margin-top: -100px;
  }
  .statistika .first_h1 {
    width: 95%;
  }
  .statistika .second_h1 {
    width: 100%;
  }
  .statistika .third_h1 {
    width: 80%;
  }
  .mijozlar .row .col {
    width: 50%;
  }
  .ilova {
    width: 90%;
    height: 1100px;
  }
  .ilova .ilovaSon {
    width: 100%;
    position: relative;
  }
  .ilova .ilovaSon .first {
    width: 100%;
    text-align: center;
  }
  .ilova .ilovaInPhone {
    width: 100%;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
  }
  .ilova .ilovaInPhone img {
    width: 100%;
  }
  .ilova .ilovaUse {
    float: none;
    width: 100%;
    height: 400px;
    margin-top: 400px;
    text-align: center;
  }
  .ilova .ilovaUseSon button {
    width: 100%;
  } 
  .hamkorlikSon h2 {
    width: 100%;
  }
  .hamkorlikSon .row {
    display: flex;
    flex-wrap: wrap;
  }
  .hamkorlikSon .row .col {
    width: 100%;
  }
  .taklif .xizmat {
    width: 100%;
  }
  .malumot {
    display: flex;
    flex-wrap: wrap;
  }
  .malumot .malumotlar  {
    width: 100%;
  }
  .malumot .picture {
    width: 100%;
    margin-top: 10px;
  }
  .malumot .picture img {
    width: 100%;
  }
  .starting .renderPart {
    display: flex;
    flex-wrap: wrap;
  }
  .starting .renderPart .col, .col2 {
    width: 100%;
  }
  .starting .renderPart .col .secondP {
    width: 100%;
  }
  .starting .renderPart .col2  {
    width: 100%;
  }
  .starting button {
    width: 100%;
  }
  .footer .footerMenu {
    display: none;
  }
  .elektromobil {
    width: 100%;
    margin: 0 auto;
  }
  .asosiyel {
    width: 100%;
  }
  .asosiyel .image {
    width: 100%;
  }
  .asosiyel .image img {
    width: 100%;
  }
  .asosiyel .yuklash  {
    width: 100%;
    text-align: center;
  }
  .asosiyel .yuklash .h2 {

    width: 100%;
    font-size: 20px;
    width: 100%;
  }
  .asosiyel .yuklash p {
    width: 100%;
    font-size: 16px;
  }
  .asosiyel .yuklash .mobileApp {
    display: flex;
    flex-wrap: wrap;
  }
  .asosiyel .yuklash .mobileApp button {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .asosiyel .yuklash .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

  }
  .asosiyel .yuklash .row .card {
    width: 100%;
  }
  .asosiyel .yuklash .row .card img {
    width: 100%;
  }
  .asosiyel .yuklash .row .card .toRight {
    display: none;
  }
  
  .asosiya .taklif img {
    width: 100%;
  }
  .asosiya .taklif h2:nth-child(2) {
    font-size: 27px;
    width: 100%;
    margin-top: 50px;
  }
  .asosiya .taklif .row {
    display: flex;
    flex-wrap: wrap;
  }
  .asosiya .taklif .row .card1, .card2 {
    width: 100%;
  }
  .asosiya .taklif .row .card1 h4 {
    width: 100%;
    margin-bottom: 10px;
  }
  .asosiya .taklif  .button {
    width: 100%;
  }
  .asosiya .avtasalon h2:nth-child(1) {
    font-size: 21px;
    width: 100%;
  }
  .asosiya .avtasalon .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  .asosiya .avtasalon .row .col {
    width: 50%;
  }
  .asosiya .avtasalon .row .col img {
    width: 100%;
  }
  .asosiymaq :nth-child(3) {
    font-size: 20px;
  }
  .asosiymaq .render {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .asosiymaq .render .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

  }
  .asosiymaq .render .item .rasm, .haqida {
    width: 100%;
  }
  .asosiymaq .render .item .rasm img {
    width: 100%;
  }
  .acdc .textPart img {
    width: 100%;
    margin-top: -100px;
  }
  .acdc .textPart h2 {
    font-size: 25px!important;
  }
  .acdc .textPart .row {
    display: flex;
    flex-wrap: wrap;
  }
  .acdc .textPart .row .col1, .col2 {
    width: 100%!important;
  } 
  .konnekt .textPart img {
    width: 100%;
    margin-top: -100px;
  }
  .konnekt .textPart h2 {
    font-size: 20px!important;
  }
  .konnekt .textPart p {
    width: 100%;
  }
  .konnekt .textPart .row {
    display: flex;
    flex-wrap: wrap;
  }
  .konnekt .textPart .col1, .col2 {
    width: 100%;
  }
  .moroz .morozSon h2 {
    font-size: 20px!important;
  }
  .moroz .morozSon img {
    margin-top: -100px;
  }
}