.asosiyv {
    width: 80%;
    margin: 0 auto;
    padding-top: 180px;
}
.asosiyv .odam {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 50px;
}
.asosiyv h2 {
    font-size: 60px;
    margin-bottom: 40px;
}
.asosiyv .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.asosiyv .item .rasm {
    width: 400px;
}
.asosiyv .item .rasm img {
    border-radius: 20px;
}
.asosiyv .item .haqida {
    width: 700px;
}
.asosiyv .item .haqida p {
    margin-bottom: 20px;
    color: #727272;
    font-size: 18px;
}
.asosiyv .item .haqida h4 {
    margin-top: 20px;
    margin-bottom: 15px;
    color: black;
    font-size: 24px;
}
.asosiyv .item .haqida a {
    text-decoration: none;
    color: #209c3c;
    font-size: 14px;
}
.asosiyv .item iframe {
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 200px;
}